/* This is where we will style the event page */

.event-container
{
    aspect-ratio: 16/9;  /* Maintains consistent card proportions */
    border: 1px solid #999;
    display: flex;
    flex-direction: column;
}

.event-card-left
{
    display: flexbox;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    color:blueviolet;
}

.event-card-right
{
    display: flexbox;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    color:red;
}

.event-card-bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color:blue;
}