<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/artist_style.css') }}">
    <title>Artist List</title>
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <aside>
        <div class="logo-box">
            <h1>HereItIs</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/artists">ARTISTS</a></li>
                <li><a href="/addartistform">GET LISTED</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main>
        <div id="artists-grid"></div>
    </main>
</div>

<!-- Include external JavaScript file -->
<script src="{{ url_for('static', filename='script/artist-list.js') }}"></script>
</body>
</html>