<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event: {{ event_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/event_style.css') }}">
</head>
<body>
    <div class="container">
        <aside>
            <div class="logo-box">
                <h1>HereItIs</h1>
            </div>
            <nav>
                <ul>
                    <!-- Need to Link these -->
                    <a href="/"><li>Home</li></a>
                    <a href="/artists"><li>Artists</li></a>
                    <!-- Which Form do we link to artist or event? Or different landing?-->
                    <a href="/addartistform"><li>Get Listed</li></a>
                    <a href="/about"><li>About</li></a>
                </ul>
            </nav>
        </aside>
        <div id="event-container"></div>
    </div>
    <script>
        const eventID = "{{ event_id }}";
    </script>
    <script src="{{ url_for('static', filename='script/event-page.js') }}"></script>
</body>
</html>
