<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Files -->
     <link rel="stylesheet" type="text/css" href="../static/style/base_style.css"
    <title>HereItIs</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="logo-box">
                <h1>HereItIs</h1>
            </div>
            <nav>
                <ul>
                    <!-- Need to Link these -->
                    <a href="/"><li>Home</li></a>
                    <a href="/artists"><li>Artists</li></a>
                    <!-- Which Form do we link to artist or event? Or different landing?-->
                    <a href="/addartistform"><li>Get Listed</li></a>
                    <a href="/about"><li>About</li></a>
                </ul>
            </nav>
        </aside>
        <main>
            <!-- Need to create a selector base page for the artist and event form -->
            <h2>Failure! Would you like to try again? <a href="/addartistform">Add Artist</a> or <a href="/addeventform">Add Event</a></h2>
        </main>
    </div>
</body>
</html>