<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Listed</title>
    <!-- External CSS files -->
    <link rel="stylesheet" href="../static/style/AddFormsStyle.css">
    <link rel="stylesheet" href="../static/style/base_style.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="logo-box">
                <h1>HereItIs</h1>
            </div>
            <nav>
                <ul>
                    <!-- Navigation links - currently using hashtags as placeholders -->
                    <li><a href="/">HOME</a></li>
                    <li><a href="/artists">ARTISTS</a></li>
                    <!-- this needs to be differentiated to show it is selected -->
                    <li><a href="/get-listed">GET LISTED</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </nav>
        
            <!-- Selection between listing an artist or an event -->
            <div class="listing-container">
                <h2>Select One</h2>
                <!-- Placeholder for artist image - currently a colored rectangle -->
                <div class="listing-selection">
                    <a href="/addartistform"><button class="selection-button artist-selection">Artist</button></a>
                    <a href="/addeventform"><button class="selection-button event-selection">Event</button></a>
                </div>
            </div>
        </aside>
        <main>
            <header>
                <h2>Get Listed</h2>
            </header>
            <div class="main-content">
                <div class="page-description">
                    <h2>Page Description</h2>
                    <p>Select from the sidebar whether you are adding an artist or an event.</p>
                </div>
        </main>
    </div>
</body>
</html>