<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Files -->
     <link rel="stylesheet" type="text/css" href="../static/style/base_style.css">
    <title>HereItIs</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="logo-box">
                <h1>HereItIs</h1>
            </div>
            <nav>
                <ul>
                    <!-- Need to Link these -->
                    <li><a href="/">HOME</a></li>
                    <li><a href="/artists">ARTISTS</a></li>
                    <!-- Which Form do we link to artist or event? Or different landing?-->
                    <li><a href="/addartistform">GET LISTED</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </nav>
            <div class="filter-box-container">
                <button id="filter-button">Filter</button>
            </div>
        </aside>
        <div id="events-grid"></div>
    </div>
    

    <!-- Include external JavaScript file -->
    <script src="{{ url_for('static', filename='script/event-list.js') }}"></script>
</body>
</html>